body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: bisque;
}

h1 {
    font-size: 3rem;
    font-weight: 600;
    color: black;
    text-align: center;
}

h2 {
    font-size: 2.5rem;
    color: black;
    text-align: center;
}

ul {
    list-style: none;
}

ul li a {
    font-size: 1.5rem;
    font-weight: 300;
    color: rgb(75, 75, 149);
}

a:visited {
    color: rgb(48, 19, 75);
}

p {
    font-size: 1.5rem;
    color: black;
    text-align: center;
    margin-left: 40%;
    height: 10rem;
    width: 25rem;
}

button {
    display: block;
    width: 10rem;
    height: 3rem;
    margin-left: 45%;
    font-size: 1.5rem;
    color: black;
    background-color: beige;    
}